.nav{
    width:100%;
    height:250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.punchIn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top:285px;
    z-index:20;
}
.clock-wapper{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width:250px;
  height:250px;
  background:#222;
  border-radius:50%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0,0,0);
  box-sizing: border-box;
  border: 1px solid white;
}
.dial {
   position: absolute;
   z-index: 1;
   width: 250px;
   height: 250px;
}
.mark{
  width:2px;
  height:6px;
  background:#777;
  margin: 119px 119px;
  position: absolute;
  box-shadow: 0 0 7px rgba(0,0,0,.8);
}
.mark:nth-child(1){
  transform:rotate(30deg) translateY(-119px);
}
.mark:nth-child(2){
  transform:rotate(60deg) translateY(-119px);
}
.mark:nth-child(3){
  transform:rotate(90deg) translateY(-119px);
  height:10px;
  width:3px;
}
.mark:nth-child(4){
  transform:rotate(120deg) translateY(-119px);
}
.mark:nth-child(5){
  transform:rotate(150deg) translateY(-119px);
}
.mark:nth-child(6){
  transform:rotate(180deg) translateY(-119px);
  height:10px;
  width:2px;
  background:#ffeb3b;
}
.mark:nth-child(7){
  transform:rotate(210deg) translateY(-119px);
}
.mark:nth-child(8){
  transform:rotate(240deg) translateY(-119px);
}
.mark:nth-child(9){
  transform:rotate(270deg) translateY(-119px);
  height:10px;
  width:2px;
}
.mark:nth-child(10){
  transform:rotate(300deg) translateY(-119px);
}
.mark:nth-child(11){
  transform:rotate(330deg) translateY(-119px);
}
.mark:nth-child(12){
  transform:rotate(360deg) translateY(-119px);
  height:10px;
  width:2px;
  background:#ffeb3b;
}
.hour{
  z-index:2;
  width:6px;
  height:55px;
  background:#777;
  position:absolute;
  left:129px;
  top:75px;
  animation:rotate-hour 43200s infinite linear ;
  transform-origin: 3px 100%;
}
.minute{
  z-index:3;
  width:4px;
  height:85px;
  background:#777;
  position:absolute;
  left:129px;
  top:45px;
  animation:rotate-minute 3600s infinite steps(60);
  transform-origin: 2px 100%;
}
.second{
  z-index:4;
  width:4px;
  height:100px;
  background:#ffeb3b;
  position:absolute;
  left:129px;
  top:30px;
  transition: .5s;
  animation:rotate-second 60s infinite steps(60);
  transform-origin: 2px 100%;
}
.hour,.minute,.second,.fixed-center{
  box-shadow: 0 2px 17px rgba(0,0,0,1);
  border-radius: 3px 3px 0px 0px;
}
.fixed-center{
  z-index:5;
  width:8px;
  height:8px;
  border:2px solid #ffeb3b;
  background:#888;
  border-radius:50%;
  position:absolute;
  left:125px;
  top:125px;
}
.logo{
  color:#aaa;
  position:absolute;
  left:60px;
  top:70px;
  letter-spacing: 2px;
  font-weight: bold;
}
#week-day{
  color:#ddd;
  z-index:1;
  position:absolute;
  left:96px;
  top:155px;
  font-size:1.5em;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 2px;
}
#show-time{
  color:#ddd;
  z-index:1;
  position:absolute;
  left:88px;
  top:185px;
  font-size:1.5em;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 2px;
}